html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin:0;
  font-family: 'Amatic SC', cursive;
}

h1, .container {
  text-align: center;
  font-size: 10rem;
  line-height:1;
  margin-bottom: 0;
}
.container {
  width: 50%;
  height:50%;
  margin:0 auto;
}

p:hover {
  background-color: #efefef;
}

p {
  display: flex;
  margin: 0;
  padding: 0;
  clear: both;
  justify-content:center;
  align-items:center;
}

label {
  display: block;
}

